name: Execute test

on:
  pull_request:
  merge_group:
    types: [checks_requested]

jobs:
  run_tests:
    name: Execute tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Execute check for code review
        uses: ./.github/actions/code-review

      - name: Run tests
        run: npm run test
